.header {


    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_name {
            color: rgb(0, 0, 0);
            font-family: Open Sans;
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 30px;
        }

        &_right {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        &_left {
            display: flex;
            gap: 25px;

            &_name {
                color: rgb(0, 0, 0);
                font-family: Open Sans;
                font-size: 25px;
                font-weight: 800;
                margin-bottom: 10px;
            }

            &_input {
                color: rgb(154, 160, 180);
                font-size: 14px;
                font-weight: 400;
                border: 1px solid rgb(239, 239, 239);
                background: rgb(252, 252, 253);
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 16px 30px 16px 44px;
                height: 50px;
            }

        }
    }

}